<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <!--<add name="MyConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=wis;Password=pw1slapp;Data Source=BWISQ01" />-->
    <add name="MyConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=wis;Password=ftpwisrw;Data Source=BWISAP" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <!-- Dev -->
        <dataSource alias="BWISD01" descriptor="(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = brctal0005.srv.volvo.com)(PORT = 1523)))(CONNECT_DATA = (SERVICE_NAME = bwisd01.srv.volvo.com)))" />

        <!-- Qa -->
        <dataSource alias="BWISQ01" descriptor="(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = brctal0005.srv.volvo.com)(PORT = 1523)))(CONNECT_DATA = (SERVICE_NAME = bwisq01.srv.volvo.com)))" />

        <!-- Edu -->
        <dataSource alias="BWISE01" descriptor="(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = brctal0005.srv.volvo.com)(PORT = 1525)))(CONNECT_DATA = (SERVICE_NAME = bwise01.srv.volvo.com)))" />

        <!-- Prod -->
        <dataSource alias="BWISAP" descriptor="(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = borapre3.srv.volvo.com)(PORT = 1523)))(CONNECT_DATA = (SERVICE_NAME = bwisap.srv.volvo.com)))" />

      </dataSources>
    </version>
  </oracle.manageddataaccess.client>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>